# borg-backup.sh configuration file (example)
# Format :
# backupName,sourceFolder,destinationFolder

Downloads,/home/florentclarret/Downloads,/home/florentclarret/tmp/testBackup/Downloads
Downloads2,/home/florentclarret/Downloads,/home/florentclarret/tmp/testBackup/Downloads2
Downloads3,/home/florentclarret/Downloads,/home/florentclarret/tmp/testBackup/Downloads3
Downloads4,/home/florentclarret/Downloads,florentclarret@server:/home/florentclarret/tmp/testBackup/Downloads4

# End of file
