# youtube-dl-twitc.sh configuration file (example)
# Format :
# channelName,channelUrl,destinationFolder

drdisrespect,https://www.twitch.tv/drdisrespect/videos/all,./
shroud,https://www.twitch.tv/shroud/videos/all,./

# End of file
